#cta {
    text-align: center;
    background-image: url('../feltoltesek/villanyszereles-budapest-hibaelharitas.jpg');
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #ffffff;
    
  }
